# Python
/backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/
*__pycache__/
*__pycache__/*
backend/venv

# Node
kudos_frontend/node_modules/
kudos_frontend/dist/
kudos_frontend/build/

# Others
.DS_Store